*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ...........................containar start........................ */

.containar{
    max-width: 1320px;
    margin: 100px auto;
    
}
.containar-fuid{
    width: 100%;
}

/* ...........................containar end........................ */


/* ...........................flex start........................... */

.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ...........................flex end........................... */


/* ...........................bg start........................  */

.bg-gainsboro{
    background-color: gainsboro;
}

/* ...........................bg end........................  */


/* ...........................border start........................  */

.b-red{
    border: 1px solid red;
}
.b-green{
    border: 1px solid green;
}
.b-black{
    border: 1px solid black;
}
.b-blue{
    border: 1px solid blue;
}
.b-orange{
    border: 1px solid orange;
}

/* ...........................border end........................  */




/* ........................... padding start........................... */

.p-10{
    padding: 10px;
}
.p-r-l{
    padding-left: 50px;
    padding-right: 50px;
}

/* ........................... padding end........................... */

/* ........................... hight start........................... */

.h-100{
    height: 100px;
}
.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}

/* ........................... hight end........................... */